.row
  = form_for @accessory do |f|
    - if @accessory.errors.any?
      #error_explanation
        %h2= "#{pluralize(@accessory.errors.count, "error")} prohibited this accessory from being saved:"
        %ul
          - @accessory.errors.full_messages.each do |message|
            %li= message
    .col.s12
      .row
        .s12
          %h5 基本情報
        .input-field.col.s8
          %i.material-icons.prefix> mode_edit
          %label アクセサリー名
          = f.text_field :title
        .input-field.col.s8
          %i.material-icons.prefix> mode_edit
          %label 説明
          = f.text_area :description, class: 'materialize-textarea'
    .col.s12
      .row
        .s12
          %h5 材料情報
          = f.fields_for :materials do |f|
            = render 'material_fields', f: f
        .col.s12
          = link_to_add_association '材料追加', f, :materials, :class => 'teal-text accent-3 white btn waves-effect waves-light'

    .col.s12.add-form.mt-bottom__20
      .row
        .s12
          %h5 作り方
          = f.fields_for :recipes do |f|
            = render 'recipe_fields', f: f
        .col.s12
          = link_to_add_association 'レシピ追加', f, :recipes, :class => 'teal-text accent-3 white btn waves-effect waves-light'

    .col.s12
      %button.btn.waves-effect.waves-light{ name: "action", type: "submit" }
        %i.material-icons.left>send
        登録
