.container
  .col.s12
    %p#notice= notice
  .col.s4
    %p
      %h4
        = @accessory.title
    %p
      = @accessory.description
    = link_to 'Edit', edit_accessory_path(@accessory)
    \|
    = link_to 'Back', accessories_path
